* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #dcf1dc;
}
.black{
    margin-left: auto;
    margin-right: auto;
    width: 720px;
    color:#ffffff; 
    background:#000000;
}
.title {
    position: relative;
    margin: 0 auto;
    width: 720px;
}
.title img {
    width: 100%;
} 
.title h1 {
    position: absolute;
    top: 5%;
    left: 10%;
    color: red;
    font-size: 200%;
}
P.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
ul.blocklist {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    padding-left:50px;
}
.Paragraph hr{
    margin-left: auto;
    margin-right: auto;
    width: 720px;
}
.Paragraph p{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    color: red;
}




a:link {
    color:#0000ff;
}
a:visited {
    color:#00ccff;
}
a:hover {
    color:#ffffff; 
    background:#0000cc;
}
a:active {　
    color:#ffff00;
}
