* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #fffae6;
}

header{
    position: relative;
    margin: auto;
    padding: 15px;
    height: 200px;
    text-align: center;
    background: url(https://seyogi.github.io/home/image/tyoukaizann.jpeg) center / cover;
}
header .headline{
    color:#7c1515; 
    font-size: 50px;
    font-weight: bold; 
}

footer{
    margin-left: auto;
    margin-right: auto;
    color:#ffffff; 
    background:#000024;
    text-align: center;
    padding : 10px ;
    line-height: 2em;
    height: 80px;
}
ul.footer-menu li {
    display: inline;
}

P.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    line-height: 30px;
}

ul.blocklist {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    padding-left:50px;
    line-height: 25px;
}

@media screen and (max-width: 979px){
    .container {
        margin-left: auto;
        margin-right: auto;
        width: 700px;
    }
    .center_wrap {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .right_wrap {
        display:none ;
    }
}

@media screen and (min-width: 980px){
    .container {
        width: 1000px; /*必要な幅に設定*/
        margin: auto; /*ブラウザ中央に配置*/
    }
    .container:after { /*clearfix設定*/
        content:"";
        display:block;
        clear:both;
    }
    .center_wrap {
        width: 720px;
        float: left; /*左にフロート配置*/
    }
    .right_wrap {
        width: 230px; 
        height: 100%;
        position: relative;
        float: right; /*右にフロート配置*/
        position: -webkit-sticky; 
        position: sticky;
        top: 20px;
    }
}

.tab-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
.tab-label {
    color: White;
    background: #7db4e6;
    margin-right: 5px;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    white-space: nowrap;
    text-align: center;
    padding: 3px 12px;
    order: -1;
    position: relative;
    z-index: 1;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    flex: 1;
}
.tab-content {
    width: 100%;
    display: none;
    line-height: 30px;
}
/* アクティブなタブ */
.tab-switch:checked+.tab-label {
    color: White;
    background: #0000cc;
}
.tab-switch:checked+.tab-label+.tab-content {
     display: block;
}
/* ラジオボタン非表示 */
.tab-switch {
    display: none;
}

h2{
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    padding: 0.4em 0 0.4em 0.4em ;/*文字の上下 左右の余白*/
    color: #494949;/*文字色*/
    background: #f4f4f4;/*背景色*/
    border-left: solid 5px #7db4e6;/*左線*/
    border-bottom: solid 3px #d7d7d7;/*下線*/
}




a:link {color:#0000ff;}
a:visited {color:#770077;}
a:hover {color:#ffffff; background:#0000cc;}
a:active {color:#ffff00;}

